
<!-- Contenu principal avec l'effet pixelated (en dehors de la caméra) -->
<div id="main-content" class="pixelated">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
  <!-- Interface caméra (enveloppe uniquement la partie caméra) -->
  <div class="camera-frame">
      <!-- Grille de l'appareil photo -->
      <div class="camera-grid">
        <!-- Lignes verticales -->
        <div class="vertical-line vertical-line-1"></div>
        <div class="vertical-line vertical-line-2"></div>
        
        <!-- Lignes horizontales -->
        <div class="horizontal-line horizontal-line-1"></div>
        <div class="horizontal-line horizontal-line-2"></div>
      </div>

      <!-- Barre de progression intégrée dans la partie supérieure -->
  <div class="progress-loader">
    <div class="progress"></div>
    <!-- Texte clignotant "Chargement" -->
    <div class="loading-text">Chargement</div>
  </div>
    
      <!-- Interface utilisateur simulée de l'appareil photo mobile -->
      <div class="camera-ui">
        <!-- Indicateur et timer juste au-dessus du bouton de capture -->
        <div class="rec-indicator-container">
          <div class="rec-indicator">
            <div class="rec-circle"></div>
            <div class="rec-timer" id="rec-timer">00:00</div>
          </div>
        </div>
        <button class="capture-btn"></button> <!-- Bouton de capture -->
      </div>
  </div>
