<div id="vantajs" #vantajs class="relative z-0 flex items-center justify-center min-h-screen">
  <div class="overflow-hidden bg-transparent py-4 sm:py-8">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <!-- Gestion des colonnes avec Tailwind grid -->
      <div class="flex justify-between items-center lg:pr-0 lg:pt-4">
        <div class="lg:max-w-lg">
          <!-- Texte à gauche -->
          <h2 class="text-base font-semibold leading-7 text-indigo-600">{{myName}}</h2>
          <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            <span class="typed-element"></span>
          </p>
        </div>

        <!-- Bouton pour mettre en pause ou jouer l'animation -->
        <div class="flex space-x-4">
          <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-full"
            (click)="toggleAnimation()">
            <i [class]="animationPaused ? 'fas fa-play' : 'fas fa-pause'"></i>
            <span class="sr-only">{{ animationPaused ? 'Play' : 'Pause' }} Animation</span>
          </button>
        </div>
      </div>

      <!-- Section des compétences -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-4 lg:mt-8">
        <div class="bg-white bg-opacity-25 rounded-lg shadow-lg p-6" *ngFor="let skill of skills">
          <div class="relative flex flex-col items-center space-y-4 group">
            <!-- Image avec effet au survol -->
            <img class="rounded-t-lg skill-image"
                 src="{{skill.img}}"
                 alt="{{ skill.title }}"
                 (mouseover)="changeCursor(skill.icon, $event)"
                 (mouseleave)="resetCursor($event)" />

            <!-- Description de la compétence qui apparaît au survol -->
            <div class="skill-overlay absolute inset-0 flex items-center justify-center text-black opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out">
              <p class="text-center">{{ skill.description }}</p>
            </div>

            <!-- Icone et titre sur la même ligne -->
            <div class="flex items-center space-x-2">
              <img src="{{skill.icon}}" class="h-10 w-10" alt="{{ skill.title }} icon" />
              <h3 class="text-lg font-bold text-indigo-600">{{ skill.title }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
